/*====================================
              Body
====================================*/
.bodyStyle {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

/*====================================
              Nav Bar
====================================*/
.navLinks {
  margin-top: 20px;
  font-size: 16px;
  float: right;
}

.eachNavLink {
  margin-right: 35px;
  text-decoration: none;
}

.eachNavLink:visited {
  text-decoration: none;
}

.eachNavLink:hover {
  font-weight: bolder;
  color: red;
  text-decoration: none;
}

.navbar {
  height: 10vh;
}

#zcg {
  margin-top: 15px;
}

/*====================================
              Announcements
====================================*/
.hTop {
  height: 15vh;
}

.hMid {
  height: 10vh;
}

.hBottom {
  height:70vh;
  overflow-x: hidden;
  overflow-y: auto;
}


/*====================================
              Jobs
====================================*/


/*====================================
              workOrder.html
====================================*/
.workOrderBody {
  width: 100%;
  height: 600px;
  background-color: #f8f8f8;
}

.th {
  text-align: center;
}

.emptyTd{
  height: 400px;

}

.table {

}









