<div class="hTop row"></div>
<div class ="hMid">
  <div>
    <!-- Add Job Button Trigger Modal -->
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Job</button>
    <button class="btn btn-default" ng-click="removeJob()">Remove Job</button>
  </div>

  <!-- Add Job Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Job</h4>
        </div>
        <div class="modal-body row">
          <div class = "col-xs-12">
            <p class = "col-xs-3">Customer:</p>
            <input type="text" class="col-xs-3" ng-model="$parent.firstName" placeholder="First Name">
            <input type="text" class="col-xs-offset-1 col-xs-3" ng-model="$parent.lastName" placeholder="Last Name">
          </div>

          
          <div class = "col-xs-12">
            <p class = "col-xs-3">Vehicle:</p>
            <input type="text" class="col-xs-3" ng-model="$parent.make" placeholder="Make">
            <input type="text" class="col-xs-offset-1 col-xs-3" ng-model="$parent.model" placeholder="Model">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="addJob()" data-dismiss="modal">Add Job </button>
        </div>
      </div>
    </div>
  </div>


   <!-- workOrder Modal -->
  <div class="modal fade bs-example-modal-lg" id="myWorkOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">2003 - 2006 G35 Coupe and Sedan / Z33 Coupe</h4>
        </div>
          <div ui-view="workOrder"></div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="">Update</button>
        </div>
    </div>
  </div>

  <div class="row">
        <div class="col-xs-4">
          <h2>Jobs</h2>
          <div>
            <h5>Not Started</h5>
            <ul>
              <div ng-repeat="each in job | filter: notStarted">
                <input type="checkbox" ng-model="each.Done" ng-click="checkedJobs(each)"/>
                <span> <a href="javascript:void(0);" ng-click="accessJob(each)" data-toggle="modal" data-target="#myWorkOrder">{{each.FirstName}} {{each.LastName}} - {{each.Make}} {{each.Model}}</a></span>
              </div>
            </ul>
            <h5>Started</h5>
            <ul>
              <div ng-repeat="each in job | filter: started">
                <input type="checkbox" ng-model="each.Done" ng-click="checkedJobs(each)"/>
                <span> <a href="javascript:void(0);" ng-click="accessJob(each)" data-toggle="modal" data-target="#myWorkOrder">{{each.FirstName}} {{each.LastName}} - {{each.Make}} {{each.Model}}</a></span>
              </div>
            </ul>
            <h5>Finished</h5>
            <ul>
              <div ng-repeat="each in job | filter: finished">
                <input type="checkbox" ng-model="each.Done" ng-click="checkedJobs(each)"/>
                <span> <a href="javascript:void(0);" ng-click="accessJob(each)" data-toggle="modal" data-target="#myWorkOrder">{{each.FirstName}} {{each.LastName}} - {{each.Make}} {{each.Model}}</a></span>
              </div>
            </ul>
          </div>
      </div>
      <div class="col-xs-8">

      </div>

</div>