<div class="hTop row"></div>
<div class ="hMid">
  <!-- add announcement -->
  <div class="col-xs-12" >
    <form>
      <div class="col-xs-offset-3 col-xs-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Announcement goes here" type="text" ng-model="$parent.formTodoText" ng-model-instant/>
          <span class="input-group-btn">
            <!-- add new task -->
            <button class="btn btn-default" ng-click="addTodo()">Add</button>
            <!-- remove completed tasks -->
            <button class="btn btn-default" ng-click="clearCompleted()">Clear Completed</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class ="hBottom">
  <!-- show announcements -->
  <div class="col-xs-offset-1 col-xs-10" >
    <ul>
      <div ng-repeat="each in data">
        <span class="each-{{each.done}}" editable-text="each.text">
        <input type="checkbox" ng-model="each.done" ng-click="checked(each)"/>
          {{each.text}}</span>
      </div>
    </ul>
  </div>
</div>
