<div class="hTop row"></div>
<div class ="hMid">
  <h4 class="modal-title" id="myModalLabel">2003 - 2006 G35 Coupe and Sedan / Z33 Coupe</h4>
  <div class="col-xs-12">
    <div class="col-xs-3">
      <h4> Customer: {{ user.first }} {{ user.last }} </h4>
      <div> Vin #:  <a href="#" editable-text="currentJob.vin">{{ currentJob.vin || 'empty' }}</a> </div>
      <div>Prod date:  <a href="#" editable-text="currentJob.prodDate">{{ currentJob.prodDate || 'empty' }}</a></div>
      <div>Mileage:  <a href="#" editable-text="currentJob.mileage">{{ currentJob.mileage || 'empty' }}</a></div>
      <div>Model:  <a href="#" editable-text="currentJob.model">{{ currentJob.model || 'empty' }}</a></div>

      <h4>Tech</h4>
      <div> Tech Name: <a href="#" editable-text="currentJob.techName">{{ currentJob.techName || 'empty' }}</a>
      </div>

      <div> Status: Not Started
      </div>

      <button type="button" class="btn btn-default" ng-click="updateJob(user)">Update Inspection</button>


    </div>
    <div class="col-xs-offset-1 col-xs-8">
      <h4 >Test drive</h4>
      <div class="col-xs-offset-1">Any Codes: <a href="#" editable-text="currentJob.anyCodes">{{ currentJob.anyCodes || 'empty' }}</a>
      </div>

      <h4>Brakes -
        <div class="btn-group btn-group-xs">
          <button class="btn" ng-click="brakeType('brembo')">Brembo</button>
          <button class="btn btn-default" ng-click="brakeType()">Non-Brembo</button>
        </div>
      </h4>

      <div class="col-xs-offset-1"> 
        <div>Brake master: <a href="#" editable-text="currentJob.bMaster">{{ currentJob.bMaster || 'empty' }}</a></div>
        <div>Front Rotors: <a href="#" editable-text="currentJob.fRotors">{{ currentJob.fRotors || 'empty' }}</a><span class ="col-xs-offset-1">{{fRotor}}</span></div>
        <div>Rear Rotors: <a href="#" editable-text="currentJob.rRotors">{{ currentJob.rRotors || 'empty' }}</a><span class ="col-xs-offset-1">{{rRotor}}</span></div>
        <div>Front Pads: <a href="#" editable-text="currentJob.fPads">{{ currentJob.fPads || 'empty' }}</a><span class ="col-xs-offset-1">Min thickness is 2mm</span></div>
        <div>Rear Pads: <a href="#" editable-text="currentJob.rPads">{{ currentJob.rPads || 'empty' }}</a><span class ="col-xs-offset-1">Min thickness is 2mm</span></div>
        <div>Notes: <a href="#" editable-text="currentJob.bNotes">{{ currentJob.bNotes || 'empty' }}</a></div>
      </div>

      <h4>Suspension</h4>
      <div class="col-xs-offset-1"> 
        <div>Shocks and springs: <a href="#" editable-text="currentJob.sSprings">{{ currentJob.sSprings || 'empty' }}</a>
        </div>
        <div>Front control arms: <a href="#" editable-text="currentJob.fArms">{{ currentJob.fArms || 'empty' }}</a>
        </div>
        <div>Front tires: <a href="#" editable-text="currentJob.fTires">{{ currentJob.fTires || 'empty' }}</a>
        </div>
        <div>Rear tires: <a href="#" editable-text="currentJob.rTires">{{ currentJob.rTires || 'empty' }}</a>
        </div>
        <div>Rear suspension: <a href="#" editable-text="currentJob.rSus">{{ currentJob.rSus || 'empty' }}</a>
        </div>
      </div>


      <h4>Engine room</h4>
      <div class="col-xs-offset-1"> 
        <div>All EFI connections: <a href="#" editable-text="currentJob.efi">{{ currentJob.efi || 'empty' }}</a>
        </div>
        <div>Coolant hoses: <a href="#" editable-text="currentJob.coHoses">{{ currentJob.coHoses || 'empty' }}</a>
        </div>
        <div>P/S hoses: <a href="#" editable-text="currentJob.psHoses">{{ currentJob.psHoses || 'empty' }}</a>
        </div>
        <div>Fuel Dampner on intake: <a href="#" editable-text="currentJob.fuelDampner">{{ currentJob.fuelDampner || 'empty' }}</a>
        </div>
        <div>Valve cover gaskets: <a href="#" editable-text="currentJob.valveCover">{{ currentJob.valveCover || 'empty' }}</a>
        </div>
        <div>Drive belts: <a href="#" editable-text="currentJob.driveBelts">{{ currentJob.driveBelts || 'empty' }}</a>
        </div>
        <div>Coolant level: <a href="#" editable-text="currentJob.coolantLevel">{{ currentJob.coolantLevel || 'empty' }}</a>
        </div>
        <div>Oil level: <a href="#" editable-text="currentJob.oilLevel">{{ currentJob.oilLevel || 'empty' }}</a>
        </div>
        <div>Battery: <a href="#" editable-text="currentJob.oilLevel">{{ currentJob.oilLevel || 'empty' }}</a>
        </div>
        <div>Load test results: <a href="#" editable-text="currentJob.loadTest">{{ currentJob.loadTest || 'empty' }}</a>
        </div>
        <div>In Cabin filter: <a href="#" editable-text="currentJob.cabinFilter">{{ currentJob.cabinFilter || 'empty' }}</a>
        </div>
      </div>

      <h4>Transmission</h4>
      <div class="col-xs-offset-1"> 
        <div>Leaks: <a href="#" editable-text="currentJob.tLeaks">{{ currentJob.tLeaks || 'empty' }}</a>
        </div>
        <div>Clutch pedal: <a href="#" editable-text="currentJob.clutchPedal">{{ currentJob.clutchPedal || 'empty' }}</a>
        </div>
        <div>Clutch fluid: <a href="#" editable-text="currentJob.clutchFluid">{{ currentJob.clutchFluid || 'empty' }}</a>
        </div>
      </div>

      <h4>Interior</h4>
      <div class="col-xs-offset-1"> 
        <div>Interior light check: <a href="#" editable-text="currentJob.interiorLights">{{ currentJob.interiorLights || 'empty' }}</a>
        </div>
        <div>A/C system: <a href="#" editable-text="currentJob.acSystem">{{ currentJob.acSystem || 'empty' }}</a>
        </div>
        <div>A/C Drain: <a href="#" editable-text="currentJob.acDrain">{{ currentJob.acDrain || 'empty' }}</a>
        </div>
        <div>All vents switch: <a href="#" editable-text="currentJob.ventSwitch">{{ currentJob.ventSwitch || 'empty' }}</a>
        </div>
        <div>Power seat works: <a href="#" editable-text="currentJob.powerSeat">{{ currentJob.powerSeat || 'empty' }}</a>
        </div>
        <div>Hatch/Gas Door lever: <a href="#" editable-text="currentJob.gasDoor">{{ currentJob.gasDoor || 'empty' }}</a>
        </div>
        <div>Wipers and washers: <a href="#" editable-text="currentJob.wiperWash">{{ currentJob.wiperWash || 'empty' }}</a>
        </div>
      </div>


      <h4>Exterior</h4>
      <div class="col-xs-offset-1"> 
        <div>Front bumper: <a href="#" editable-text="currentJob.fBumper">{{ currentJob.fBumper || 'empty' }}</a>
        </div>
        <div>Front fenders: <a href="#" editable-text="currentJob.fFenders">{{ currentJob.fFenders || 'empty' }}</a>
        </div>
        <div>Left and Right doors: <a href="#" editable-text="currentJob.doors">{{ currentJob.doors || 'empty' }}</a>
        </div>
        <div>Left and Right Rear Quarters: <a href="#" editable-text="currentJob.rearQuarters">{{ currentJob.rearQuarters || 'empty' }}</a>
        </div>
        <div>Rear bumper: <a href="#" editable-text="currentJob.rBumper">{{ currentJob.rBumper || 'empty' }}</a>
        </div>
      </div>

      <h4>Misc Notes</h4>
      <div class="col-xs-offset-1"> 
        <div>Notes: <a href="#" editable-text="currentJob.misNotes">{{ currentJob.misNotes || 'empty' }}</a>
        </div>
      </div>
    </div>
  </div>  
</div>