<div class="hTop row"></div>
<div class ="hMid">
  <h4 class="modal-title" id="myModalLabel">2003 - 2006 G35 Coupe and Sedan / Z33 Coupe</h4>
  <div class="col-xs-12">
    <div class="col-xs-3">
      <h4> Customer: {{ user.first }} {{ user.last }} </h4>
      <div> Vin #:  <a href="#" editable-text="car.vin">{{ car.vin || 'empty' }}</a> </div>
      <div>Prod date:  <a href="#" editable-text="car.prod">{{ car.prod || 'empty' }}</a></div>
      <div>Mileage:  <a href="#" editable-text="car.mlgIn">{{ car.mlgIn || 'empty' }}</a></div>
      <div>Model:  <a href="#" editable-text="car.model">{{ car.model || 'empty' }}</a></div>
    </div>
    <div class="col-xs-offset-1 col-xs-8">
      <h4 >Test drive</h4>
      <div class="col-xs-offset-1">Any Codes: <a href="#" editable-text="car.codes">{{ car.codes || 'empty' }}</a>
      </div>

      <h4>Brakes - <select data-ng-options="o.name for o in options" data-ng-model="selectedOption"></select></h4> 
      <div class="col-xs-offset-1">Brake master: </div>
      <div class="col-xs-offset-1">Front Rotors: <a href="#" editable-text="car.rearRotors">{{ car.rearRotors || 'empty' }}</a><span class ="col-xs-offset-1">{{fRotor}}</span></div>
      <div class="col-xs-offset-1">Rear Rotors: <a href="#" editable-text="car.rearRotors">{{ car.rearRotors || 'empty' }}</a><span class ="col-xs-offset-1">{{rRotor}}</span></div>
      <div class="col-xs-offset-1">Front Pads: <a href="#" editable-text="car.frontPads">{{ car.frontPads || 'empty' }}</a><span class ="col-xs-offset-1">Min thickness is 2mm</span></div>
      <div class="col-xs-offset-1">Rear Pads: <a href="#" editable-text="car.rearPads">{{ car.rearPads || 'empty' }}</a><span class ="col-xs-offset-1">Min thickness is 2mm</span></div>
      <div class="col-xs-offset-1">Notes: <a href="#" editable-text="car.brakeNotes">{{ car.brakeNotes || 'empty' }}</a></div>

      <h4>Suspension</h4>
      <div>Shocks and springs: <a href="#" editable-text="car.shocksSprings">{{ car.shocksSprings || 'empty' }}</a>
      </div>
      <div>Front control arms: <a href="#" editable-text="car.fArms">{{ car.fArms || 'empty' }}</a>
      </div>
      <div>Front tires: <a href="#" editable-text="car.fTires">{{ car.fTires || 'empty' }}</a>
      </div>
      <div>Rear tires: <a href="#" editable-text="car.rTires">{{ car.rTires || 'empty' }}</a>
      </div>
      <div>Rear suspension: <a href="#" editable-text="car.rSuspension">{{ car.rSuspension || 'empty' }}</a>
      </div>


      <h4>Engine room</h4>
      <div>Any Codes:
      </div>

      <h4>Transmission</h4>
      <div>Any Codes:
      </div>
      <h4>Exterior</h4>
      <div>Any Codes:
      </div>
      <h4>Misc Notes</h4>
      <div>Any Codes:
      </div>
    </div>
  </div>

  
</div>