<div class="hTop row"></div>
<div class ="hMid">
  <h4 class="modal-title" id="myModalLabel">2003 - 2006 G35 Coupe and Sedan / Z33 Coupe</h4>
  <div class="col-xs-12">
    <div class="col-xs-3">
      <h4> Customer: {{ user.first }} {{ user.last }} </h4>
      <div> Vin #:  <a href="#" editable-text="currentJob.vin">{{ currentJob.vin || 'empty' }}</a> </div>
      <div>Prod date:  <a href="#" editable-text="currentJob.prodDate">{{ currentJob.prodDate || 'empty' }}</a></div>
      <div>Mileage:  <a href="#" editable-text="currentJob.mileage">{{ currentJob.mileage || 'empty' }}</a></div>
      <div>Model:  <a href="#" editable-text="currentJob.model">{{ currentJob.model || 'empty' }}</a></div>

      <h4>Tech</h4>
      <div> Tech Name: <a href="#" editable-text="currentJob.techName">{{ currentJob.techName || 'empty' }}</a>
      </div>

      <div> Status: Not Started
      </div>

      <button type="button" class="btn btn-default" ng-click="updateJob(user)">Update Inspection</button>


    </div>
    <div class="col-xs-offset-1 col-xs-8">
      <h4 >Test drive</h4>
      <div class="col-xs-offset-1">Any Codes: <a href="#" editable-text="currentJob.anyCodes">{{ currentJob.anyCodes || 'empty' }}</a>
      </div>

      <h4>Brakes -
        <div class="btn-group btn-group-xs">
          <button class="btn" ng-click="brakeType('brembo')">Brembo</button>
          <button class="btn btn-default" ng-click="brakeType()">Non-Brembo</button>
        </div>
      </h4>

      <div class="col-xs-offset-1"> 
        <div>Brake master: <a href="#" editable-text="currentJob.bMaster">{{ currentJob.bMaster || 'empty' }}</a></div>
        <div>Front Rotors: <a href="#" editable-text="currentJob.fRotors">{{ currentJob.fRotors || 'empty' }}</a><span class ="col-xs-offset-1">{{fRotor}}</span></div>
        <div>Rear Rotors: <a href="#" editable-text="currentJob.rRotors">{{ currentJob.rRotors || 'empty' }}</a><span class ="col-xs-offset-1">{{rRotor}}</span></div>
        <div>Front Pads: <a href="#" editable-text="currentJob.fPads">{{ currentJob.fPads || 'empty' }}</a><span class ="col-xs-offset-1">Min thickness is 2mm</span></div>
        <div>Rear Pads: <a href="#" editable-text="currentJob.rPads">{{ currentJob.rPads || 'empty' }}</a><span class ="col-xs-offset-1">Min thickness is 2mm</span></div>
        <div>Notes: <a href="#" editable-text="currentJob.bNotes">{{ currentJob.bNotes || 'empty' }}</a></div>
      </div>

      <h4>Suspension</h4>
      <div class="col-xs-offset-1"> 
        <div>Shocks and springs: <a href="#" editable-text="car.shocksSprings">{{ car.shocksSprings || 'empty' }}</a>
        </div>
        <div>Front control arms: <a href="#" editable-text="car.fArms">{{ car.fArms || 'empty' }}</a>
        </div>
        <div>Front tires: <a href="#" editable-text="car.fTires">{{ car.fTires || 'empty' }}</a>
        </div>
        <div>Rear tires: <a href="#" editable-text="car.rTires">{{ car.rTires || 'empty' }}</a>
        </div>
        <div>Rear suspension: <a href="#" editable-text="car.rSuspension">{{ car.rSuspension || 'empty' }}</a>
        </div>
      </div>


      <h4>Engine room</h4>
      <div class="col-xs-offset-1"> 
        <div>All EFI connections:
        </div>
        <div>Coolant hoses:
        </div>
        <div>P/S hoses:
        </div>
        <div>Fuel Dampner on intake:
        </div>
        <div>Valve cover gaskets:
        </div>
        <div>Drive belts:
        </div>
        <div>Coolant level:
        </div>
        <div>Oil level:
        </div>
        <div>Battery:
        </div>
        <div>Load test results:
        </div>
        <div>In Cabin filter:
        </div>
      </div>

      <h4>Transmission</h4>
      <div class="col-xs-offset-1"> 
        <div>Leaks:
        </div>
        <div>Clutch pedal:
        </div>
        <div>Clutch fluid:
        </div>
      </div>

      <h4>Interior</h4>
      <div class="col-xs-offset-1"> 
        <div>Interior light check:
        </div>
        <div>A/C system:
        </div>
        <div>A/C Drain:
        </div>
        <div>All vents switch:
        </div>
        <div>Power seat works:
        </div>
        <div>Hatch/Gas Door lever:
        </div>
        <div>Wipers and washers:
        </div>
      </div>


      <h4>Exterior</h4>
      <div class="col-xs-offset-1"> 
        <div>Front bumper:
        </div>
        <div>Front fenders:
        </div>
        <div>Left and Right doors:
        </div>
        <div>Left and Right Rear Quarters:
        </div>
        <div>Rear bumper:
        </div>
      </div>

      <h4>Misc Notes</h4>
      <div class="col-xs-offset-1"> 
        <div>Notes:
        </div>
      </div>
    </div>
  </div>  
</div>